<div ng-include="'org/cboard/view/config/chart/template/config.html'"></div>
<div class="form-group">
    <label class="col-sm-2 control-label">{{'CONFIG.WIDGET.VALUE'|translate}}</label>
    <div class="col-sm-10">
        <div dnd-list="curWidget.config.values[0].cols"
             dnd-inserted="dndTransfer.toDetail(curWidget.config.values[0].cols,index,item,type)"
             dnd-allowed-types="['measure','select','col']"
             class="form-control" style="min-height: 35px;height: auto;padding: 0px">
            <div class="dndPlaceholder sort-highlight"
                 style="height: 24px; width: 93px;margin: 3px 3px;display: inline-block;vertical-align: middle;">
            </div>
            <div ng-repeat="o in curWidget.config.values[0].cols" class="btn-group"
                 style="margin: 3px 3px;">
                <ng-switch on="o.type">
                    <div ng-switch-default class="btn-group">
                        <button type="button"
                                dnd-draggable="o" dnd-type="'col'"
                                dnd-effect-allowed="move"
                                dnd-moved="curWidget.config.values[0].cols.splice($index, 1)"
                                ng-click="curWidget.config.values[0].cols.splice($index, 1);"
                                class="btn btn-default btn-sm" style="cursor: move;">
                            {{o.col + (o.alias?(' -> '+o.alias):'')}}
                        </button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                ng-click="editSort(o);cleanRowSort(o);">
                            <span class="fa" ng-class="{undefined:'fa-sort','asc':'fa-sort-asc','desc':'fa-sort-desc'}[o.sort]"></span>
                        </button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                data-toggle="dropdown">
                            <span class="fa fa-edit"></span>
                        </button>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>
                                <input type="text" class="input" ng-model="o.alias"
                                       placeholder="{{'CONFIG.WIDGET.ALIAS'|translate}}">
                            </li>
                            <!--<li>-->
                                <!--<a href="#" ng-click="editVFilter(o)">{{'CONFIG.WIDGET.FILTER'|translate}}</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </ng-switch>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">TOP</label>
    <div class="col-sm-10">
        <div class="input-group" style="width: 100%;">
            <input type="number" class="form-control" max="100000" min="0" step="10" ng-model="curWidget.config.top">
        </div>
    </div>
</div>
